<!doctype html>
<html lang="en">
    <head>
 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
 </head>
    <body>
    
    <div class="container-fluid col-8">
    <form class="form-group" method="post" action="/reportSucces">
    <input type="text" class="form-control mb-2" name="name" placeholder="Name">
    <input type="text" class="form-control mb-3" name="location" placeholder="Location">
    <input type="text" class="form-control mb-3" name="type" placeholder="Animal Status">
    <input type="text" rows="5" class="form-control mb-3" name="description" placeholder="Description">
    <button type="submit" class="btn btn-light my-4">Submit Report</button>
    </div>
    </body>
