<!doctype html>
<html lang="en">
    <head>
 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
 </head>
    <body>


<div class="container-fluid p-5">

   {% for item in data %}
    {% if item.4 is equalto 0 %}
 
<form action="/classify/{{item.6}}" method="post">
<div class="card">
  <div class="card-header">{{item.5}}</div>
  
       <div class="card-body">
    <ul class="list-group">
  <li class="list-group-item">Name: {{item.0}}</li>
  <li class="list-group-item">Location: {{item.1}}</li>
  <li class="list-group-item">Type: {{item.2}}</li>
  <li class="list-group-item">Description: {{item.3}}</li>
     
</ul>
  </div>
  <div class="card-footer">
	<div class="form-inline">
    <input type="text" name="escalateName" value="" placeholder="Give Event a Name" class="form-control my-2 col-5"><button class="btn btn-info" name="escalate" type="submit">Escalate</button>
	<button class="btn btn-warning" name="delete" type="submit">Delete</button>
    
     <button class="btn btn-green dropdown-toggle show active" name="add" data-toggle="dropdown" type="submit">Add to Existing</button>
	   
      <div class="dropdown-menu">
	      {% for item in data %}
     {% if item.4 is equalto 2 %}
        <a class="dropdown-item show active" value="{{item.5}}" href="#">{{item.5}}</a>
 {% endif %}
     {% endfor %}
	  </div>
		</div>
		
    
    
    
      </div>
	 {% endif %}
      {% endfor %}
</form>
  </div>
   </body>
   </html>
