<div class="container-fluid p-5">
<div class="card">
  <div class="card-header">Incident Report</div>
  <div class="card-body">Information
    <ul class="list-group">
  <li class="list-group-item">Name:</li>
  <li class="list-group-item">Location:</li>
  <li class="list-group-item">Type:</li>
  <li class="list-group-item">Description:</li>
</ul>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" type="submit">Escalate</button>
     <button class="btn btn-warning" type="submit">Delete</button>
     <button class="btn btn-green dropdown-toggle" data-toggle="dropdown" type="submit">Add to Existing</button>
      <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
      </div>
</div>
