<div class="container-fluid p-5">
  {% for item in data %}
    {% if {{item.4}}==0 %}
 

<div class="card">
  <div class="card-header">Incident Report</div>
  <div class="card-body">Information
    <ul class="list-group">
  <li class="list-group-item">Name:{{item.0}}</li>
  <li class="list-group-item">Location:{{item.1}}</li>
  <li class="list-group-item">Type:{{item.2}}</li>
  <li class="list-group-item">Description:{{item.3}}</li>
     
</ul>
  </div>
  <div class="card-footer">
    <button class="btn btn-info" type="submit">Escalate</button>
     <button class="btn btn-warning" type="submit">Delete</button>
   
     <button class="btn btn-green dropdown-toggle" data-toggle="dropdown" type="submit">Add to Existing</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"></a>
  </div>
    {% endif %}
      {% endfor %}
      </div>
 

  </div>
