<!doctype html>
<html lang="en">
    <head>
 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
 </head>
    <body>

    <div class="justify-content-center form-group">
    <button class= class="btn btn-info mr-5 my-4" type="submit" onclick="window.location = '/signIn'"> Sign In</button>
    <button class= class="btn btn-info my-4" type="submit" onclick="window.location = '/fileReport'"> Sign In</button></div>
    </body>
    
